<div class="row">
    <div class="col-12 card-btm-gutter">
      <mat-card class="q-pa-md row justify-center">
        <mat-card-title>
          Select Class
        </mat-card-title>
        <mat-card-content>
        <div >
          <div >
            <mat-form-field>
              <mat-label>Classes</mat-label>
              <mat-select [(ngModel)]="classId" name="class" >
                <mat-option *ngFor="let klass of classes" [value]="klass.id">{{klass.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-4 text-right">
            <button color="primary" mat-raised-button (click)="fetchStudents()">
              <mat-icon>search</mat-icon>
              search
            </button>
          </div>
        </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-12">




      <mat-card>
          <mat-card-header>
          <mat-card-subtitle>
            select class to view students
          </mat-card-subtitle>
          </mat-card-header>
        <mat-card-content>

          <table mat-table [dataSource]="dataSource" >

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name</th>
              <td mat-cell *matCellDef="let element"> {{element.name}}</td>
            </ng-container>

            <!-- Email Column -->
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef> Email</th>
              <td mat-cell *matCellDef="let element"> {{element.email}}</td>
            </ng-container>

            <!-- Gender Column -->
            <ng-container matColumnDef="gender">
              <th mat-header-cell *matHeaderCellDef> Gender</th>
              <td mat-cell *matCellDef="let element"> {{element.gender.name}}</td>
            </ng-container>

            <!-- DOB Column -->
            <ng-container matColumnDef="dob">
              <th mat-header-cell *matHeaderCellDef> Date of Birth</th>
              <td mat-cell *matCellDef="let element"> {{element.dob}}</td>
            </ng-container>

            <!-- Phone number Column -->
            <ng-container matColumnDef="phone">
              <th mat-header-cell *matHeaderCellDef> Phone Number</th>
              <td mat-cell *matCellDef="let element"> {{element.phone}}</td>
            </ng-container>


            <!-- Date of Employment Column -->
            <ng-container matColumnDef="settings">
              <th mat-header-cell *matHeaderCellDef> Settings</th>
              <td mat-cell *matCellDef="let element">{{element.settings}}
                <span [matMenuTriggerFor]="menu" class="cursor-pointer">
                  <mat-icon>settings</mat-icon>
                </span>
                <mat-menu #menu="matMenu">
                  <!--<button mat-menu-item routerLink="view-exam-records">view exam records</button>-->
                  <button mat-menu-item (click)="removeStudent(element)">delete student</button>
                </mat-menu>
              </td>

            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <div>
            <mat-card-actions>
             <!-- <button mat-flat-button style="float: right">Send Exams Records</button>
              -->
              <button mat-button mat-raised-button style="float: right" mat-flat-button routerLink="registration">Register Students</button>
            </mat-card-actions>
          </div>


        </mat-card-content>
      </mat-card>

  </div>
</div>
