<mat-card>
  <mat-card-title>Add Class</mat-card-title>
  <mat-card-content>
    <div class="row justify-center">
      <div class="col-11">
        <mat-form-field class="full-width">
          <input
            type="text"
            placeholder="Class Name"
            matInput
            [(ngModel)]="inputs.name"
            name="name"
          >
        </mat-form-field>
      </div>
  <mat-card-actions>
    <div class="flex justify-end">
      <div class="">
        <button color="primary" mat-raised-button (click)="register()">
          <mat-icon>add_box</mat-icon>
          add
        </button>
      </div>
    </div>
  </mat-card-actions>
    </div>
  </mat-card-content>
</mat-card>

