<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No.</th>
      <td mat-cell *matCellDef="let element"> {{element.position}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="subject">
      <th mat-header-cell *matHeaderCellDef> Subject</th>
      <td mat-cell *matCellDef="let element"> {{element.subject}}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="grade">
      <th mat-header-cell *matHeaderCellDef> Grade</th>
      <td mat-cell *matCellDef="let element"> {{element.grade}}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="remark">
      <th mat-header-cell *matHeaderCellDef> Remark</th>
      <td mat-cell *matCellDef="let element"> {{element.remark}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <button mat-flat-button style="float: right">Send Exams Records</button>
