<div class="q-pa-md row justify-center">
  <div class="col-6">
  <mat-card>
  <mat-card-title>Student's Registration</mat-card-title>
  <mat-card-header>
  </mat-card-header>
  <mat-card-content>
    <div class="row justify-center">
      <div class="col-11">
        <mat-form-field class="full-width">
          <input
            type="text"
            placeholder="Name"
            matInput
            [(ngModel)]="inputs.name"
            name="name"
          >
        </mat-form-field>
      </div>
      <div class="col-11">
        <mat-form-field class="full-width">
          <input
            type="email"
            placeholder="Email"
            matInput
            [(ngModel)]="inputs.email"
            name="email"
            [formControl]="emailFormControl"
            [errorStateMatcher]="matcher"
          >
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-11">
        <mat-form-field class="full-width">
          <input
            type="tel"
            placeholder="Phone Number"
            matInput
            [(ngModel)]="inputs.phone"
            name="phone"
            #name="ngModel"
            required
            minlength="14"
            appForbiddenName="+2348012345678"
          >
          <mat-error *ngIf="name.invalid && (name.dirty || name.touched)">
            <span *ngIf="name.errors.required">Phone number is required</span>
            <span *ngIf="name.errors.minlength || name.errors.forbiddenName">Please enter a valid phone number. e.g(+2348012345678) </span>
            <span *ngIf="name.errors.forbiddenName">Phone number cannot be(+2348012345678) </span>

          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-11">
        <mat-form-field>
          <mat-label>Gender</mat-label>
          <mat-select [(ngModel)]="inputs.gender" name="gender">
            <mat-option *ngFor="let gender of genders" [value]="genders.indexOf(gender) + 1">{{gender}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-11">
        <mat-form-field>
          <mat-label>Class</mat-label>
          <mat-select [(ngModel)]="inputs.class_id" name="gender">
            <mat-option *ngFor="let klass of classes" [value]="klass.id">{{klass.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-11">
        <mat-form-field class="full-width">
          <input
            type="date"
            placeholder="Date Of Birth"
            matInput
            [(ngModel)]="inputs.dob"
            name="dob"
          >
        </mat-form-field>
      </div>
      <div class="col-11">
        <mat-form-field class="full-width">
          <input
            type="date"
            placeholder="Date of Admission"
            matInput
            [(ngModel)]="inputs.admittedAt"
            name="admittedAt"
          >
        </mat-form-field>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button color="primary" mat-raised-button (click)="register()">
      <mat-icon>check</mat-icon>
      Register
    </button>
  </mat-card-actions>
</mat-card>
</div>
</div>
