<mat-grid-list cols="2" rowHeight="1:0.88">
  <div>
    <mat-grid-tile style="background-color: lightgrey;" class="Background-image1">
      <h1>
        ByteWorks International Academy
      </h1>
    </mat-grid-tile>
  </div>
  <mat-grid-tile>
    <form class="example-form">
      <h2> Login </h2>
      <mat-form-field class="full-width">
        <input
          type="email"
          placeholder="Email"
          [(ngModel)]="inputs.email"
          name="Email"
          matInput
          [formControl]="emailFormControl"
          [errorStateMatcher]="matcher"

        >
        <!--<mat-hint>Errors appear instantly!</mat-hint>-->
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>

      </mat-form-field>

      <mat-form-field class="full-width">
        <input
          type="password"
          placeholder="Password"
          [(ngModel)]="inputs.password"
          matInput
          name="password"
          [type]="hide ? 'password' : 'text'"
        >
        <mat-icon style="cursor: pointer;" matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>

      </mat-form-field>
      <button mat-flat-button (click)="signIn()">
        <mat-icon>sign-in</mat-icon>
        Sign In
      </button>
    </form>
  </mat-grid-tile>
</mat-grid-list>
