div img {
  width: 100%;
  height: 100%;
}
.Background-image1 {
  background-image: url("../../assets/img/school.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover
}
.Background-image1 h1 {
  color: white;
  font-size: 44px;
  text-shadow: 2px 2px black;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0 40px;
}
