<table mat-table [dataSource]="dataSource" class="mat-elevation-z2">
  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name</th>
    <td mat-cell *matCellDef="let element"> {{element.name | titlecase}}</td>
  </ng-container>


  <!-- Phone number Column -->
  <ng-container matColumnDef="settings">
    <th mat-header-cell *matHeaderCellDef> Settings </th>
    <td mat-cell *matCellDef="let element" >
      <span [matMenuTriggerFor]="menu" class="cursor-pointer">
              <mat-icon>settings</mat-icon>
            </span>

      <mat-menu #menu="matMenu">
        <!--<button mat-menu-item (click)="removeClass(element)">Delete</button>-->
        <button mat-menu-item (click)="openDialog(element)">	<mat-icon>delete_forever</mat-icon>Delete</button>
      </mat-menu>
    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
