<h1 mat-dialog-title>{{ header }}</h1>
<div mat-dialog-content>
  <p *ngIf="!content">Are you sure you want to delete?</p>
  <p *ngIf="content">{{ content }}</p>
</div>
<div mat-dialog-actions >
  <button mat-button color="negative" mat-raised-button (click)="dialogRef.close(false)">
    <mat-icon>close</mat-icon>
    Cancel
  </button>
  <button mat-button color="primary" mat-raised-button (click)="dialogRef.close(true)">
    <mat-icon>delete_forever</mat-icon>
    Delete
  </button>
</div>
