<!--

<mat-sidenav-container class="">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [fixedTopGap]="'72'"
    [attr.role]="'navigation'"
    [mode]="'side'"
    [opened]="!(isHandset$ | async)">
           <mat-nav-list>
             <div class="row">
               <div class="col-4">
                 <mat-icon>school</mat-icon>
                 <mat-icon>school</mat-icon>
               </div>
               <div class="col-8">
                 <a mat-list-item routerLink="staff" class="text-purple">Staff</a>
                 <a mat-list-item routerLink="student">Student</a>
                 <a mat-list-item href="#">Class</a>
                 <a mat-list-item href="#">School</a>
               </div>
             </div>

          </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
-->
