
<!--<div class="absolute-center full-width">-->
  <!--<div class="row justify-center">-->
    <!--<div class="col-5 col-md-6 col-lg-4">-->
      <!--<mat-card>-->
        <!--<div>-->
          <!--&lt;!&ndash;<style type="text/css">&ndash;&gt;-->
            <!--&lt;!&ndash;.tg  {border-collapse:collapse;border-spacing:0;}&ndash;&gt;-->
            <!--&lt;!&ndash;.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}&ndash;&gt;-->
            <!--&lt;!&ndash;.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}&ndash;&gt;-->
            <!--&lt;!&ndash;.tg .tg-z9od{font-size:12px;text-align:left;vertical-align:top}&ndash;&gt;-->
            <!--&lt;!&ndash;.tg .tg-0lax{text-align:left;vertical-align:top}&ndash;&gt;-->
          <!--&lt;!&ndash;</style>&ndash;&gt;-->
          <!--<table class="tg">-->
            <!--<tr>-->
              <!--<th>Subject</th>-->
              <!--<th><h6>Grade</h6></th>-->
              <!--<th><h6>Remark</h6></th>-->
            <!--</tr>-->
            <!--<tr>-->
              <!--<td class="tg-0lax">-->
                <!--<div class="col-11">-->
                  <!--<mat-form-field>-->
                    <!--<mat-select placeholder="Subject"  required>-->
                      <!--<mat-option>&#45;&#45;</mat-option>-->
                      <!--<mat-option *ngFor="let subject of subject" [value]="subject">-->
                        <!--{{subject.name}}-->
                      <!--</mat-option>-->
                    <!--</mat-select>-->
                    <!--<mat-error *ngIf="subjectControl.hasError('required')">Please choose a subject</mat-error>-->
                    <!--<mat-hint>{{subjectControl.value?.sound}}</mat-hint>-->
                  <!--</mat-form-field>-->
                <!--</div>-->
              <!--</td>-->
              <!--<td class="tg-0lax">-->
                <!--<div class="col-11">-->
                  <!--<mat-form-field>-->
                    <!--<mat-select placeholder="Grade"  required>-->
                      <!--<mat-option>&#45;&#45;</mat-option>-->
                      <!--<mat-option *ngFor="let grade of grade" [value]="grade">-->
                        <!--{{grade.grade}}-->
                      <!--</mat-option>-->
                    <!--</mat-select>-->
                    <!--<mat-error *ngIf="gradeControl.hasError('required')">Please choose a grade</mat-error>-->
                    <!--<mat-hint>{{gradeControl.value?.sound}}</mat-hint>-->
                  <!--</mat-form-field>-->
                <!--</div>-->
              <!--</td>-->
              <!--<td class="tg-0lax"></td>-->
            <!--</tr>-->
            <!--<tr>-->
              <!--<td class="tg-0lax">-->
                <!--<div class="col-11">-->
                  <!--<mat-form-field>-->
                    <!--<mat-select placeholder="Subject"  required>-->
                      <!--<mat-option>&#45;&#45;</mat-option>-->
                      <!--<mat-option *ngFor="let subject of subject" [value]="subject">-->
                        <!--{{subject.name}}-->
                      <!--</mat-option>-->
                    <!--</mat-select>-->
                    <!--<mat-error *ngIf="subjectControl.hasError('required')">Please choose a subject</mat-error>-->
                    <!--<mat-hint>{{subjectControl.value?.sound}}</mat-hint>-->
                  <!--</mat-form-field>-->
                <!--</div>-->
              <!--</td>-->
              <!--<td class="tg-0lax">-->
                <!--<div class="col-11">-->
                  <!--<mat-form-field>-->
                    <!--<mat-select placeholder="Grade"  required>-->
                      <!--<mat-option>&#45;&#45;</mat-option>-->
                      <!--<mat-option *ngFor="let grade of grade" [value]="grade">-->
                        <!--{{grade.grade}}-->
                      <!--</mat-option>-->
                    <!--</mat-select>-->
                    <!--<mat-error *ngIf="gradeControl.hasError('required')">Please choose a grade</mat-error>-->
                    <!--<mat-hint>{{gradeControl.value?.sound}}</mat-hint>-->
                  <!--</mat-form-field>-->
                <!--</div>-->
              <!--</td>-->
              <!--<td class="tg-0lax"></td>-->
            <!--</tr>-->
            <!--<tr>-->
              <!--<td class="tg-0lax">-->
                <!--<div class="col-11">-->
                  <!--<mat-form-field>-->
                    <!--<mat-select placeholder="Subject"  required>-->
                      <!--<mat-option>&#45;&#45;</mat-option>-->
                      <!--<mat-option *ngFor="let subject of subject" [value]="subject">-->
                        <!--{{subject.name}}-->
                      <!--</mat-option>-->
                    <!--</mat-select>-->
                    <!--<mat-error *ngIf="subjectControl.hasError('required')">Please choose a subject</mat-error>-->
                    <!--<mat-hint>{{subjectControl.value?.sound}}</mat-hint>-->
                  <!--</mat-form-field>-->
                <!--</div>-->
              <!--</td>-->
              <!--<td class="tg-0lax">-->
                <!--<div class="col-11">-->
                  <!--<mat-form-field>-->
                    <!--<mat-select placeholder="Grade"  required>-->
                      <!--<mat-option>&#45;&#45;</mat-option>-->
                      <!--<mat-option *ngFor="let grade of grade" [value]="grade">-->
                        <!--{{grade.grade}}-->
                      <!--</mat-option>-->
                    <!--</mat-select>-->
                    <!--<mat-error *ngIf="gradeControl.hasError('required')">Please choose a grade</mat-error>-->
                    <!--<mat-hint>{{gradeControl.value?.sound}}</mat-hint>-->
                  <!--</mat-form-field>-->
                <!--</div>-->
              <!--</td>-->
              <!--<td class="tg-0lax"></td>-->
            <!--</tr>-->
            <!--<tr>-->
              <!--<td class="tg-0lax">-->
                <!--<div class="col-11">-->
                  <!--<mat-form-field>-->
                    <!--<mat-select placeholder="Subject"  required>-->
                      <!--<mat-option>&#45;&#45;</mat-option>-->
                      <!--<mat-option *ngFor="let subject of subject" [value]="subject">-->
                        <!--{{subject.name}}-->
                      <!--</mat-option>-->
                    <!--</mat-select>-->
                    <!--<mat-error *ngIf="subjectControl.hasError('required')">Please choose a subject</mat-error>-->
                    <!--<mat-hint>{{subjectControl.value?.sound}}</mat-hint>-->
                  <!--</mat-form-field>-->
                <!--</div>-->
              <!--</td>-->
              <!--<td class="tg-0lax">-->
                <!--<div class="col-11">-->
                  <!--<mat-form-field>-->
                    <!--<mat-select placeholder="Grade"  required>-->
                      <!--<mat-option>&#45;&#45;</mat-option>-->
                      <!--<mat-option *ngFor="let grade of grade" [value]="grade">-->
                        <!--{{grade.grade}}-->
                      <!--</mat-option>-->
                    <!--</mat-select>-->
                    <!--<mat-error *ngIf="gradeControl.hasError('required')">Please choose a grade</mat-error>-->
                    <!--<mat-hint>{{gradeControl.value?.sound}}</mat-hint>-->
                  <!--</mat-form-field>-->
                <!--</div>-->
              <!--</td>-->
              <!--<td class="tg-0lax"></td>-->
            <!--</tr>-->
            <!--<tr>-->
              <!--<td class="tg-0lax">-->
                <!--<div class="col-11">-->
                  <!--<mat-form-field>-->
                    <!--<mat-select placeholder="Subject"  required>-->
                      <!--<mat-option>&#45;&#45;</mat-option>-->
                      <!--<mat-option *ngFor="let subject of subject" [value]="subject">-->
                        <!--{{subject.name}}-->
                      <!--</mat-option>-->
                    <!--</mat-select>-->
                    <!--<mat-error *ngIf="subjectControl.hasError('required')">Please choose a subject</mat-error>-->
                    <!--<mat-hint>{{subjectControl.value?.sound}}</mat-hint>-->
                  <!--</mat-form-field>-->
                <!--</div>-->
              <!--</td>-->
              <!--<td class="tg-0lax">-->
                <!--<div class="col-11">-->
                  <!--<mat-form-field>-->
                    <!--<mat-select placeholder="Grade"  required>-->
                      <!--<mat-option>&#45;&#45;</mat-option>-->
                      <!--<mat-option *ngFor="let grade of grade" [value]="grade">-->
                        <!--{{grade.grade}}-->
                      <!--</mat-option>-->
                    <!--</mat-select>-->
                    <!--<mat-error *ngIf="gradeControl.hasError('required')">Please choose a grade</mat-error>-->
                    <!--<mat-hint>{{gradeControl.value?.sound}}</mat-hint>-->
                  <!--</mat-form-field>-->
                <!--</div>-->
              <!--</td>-->
              <!--<td class="tg-0lax"></td>-->
            <!--</tr>-->
            <!--<tr>-->
              <!--<td class="tg-0lax">-->
                <!--<div class="col-11">-->
                  <!--<mat-form-field>-->
                    <!--<mat-select placeholder="Subject"  required>-->
                      <!--<mat-option>&#45;&#45;</mat-option>-->
                      <!--<mat-option *ngFor="let subject of subject" [value]="subject">-->
                        <!--{{subject.name}}-->
                      <!--</mat-option>-->
                    <!--</mat-select>-->
                    <!--<mat-error *ngIf="subjectControl.hasError('required')">Please choose a subject</mat-error>-->
                    <!--<mat-hint>{{subjectControl.value?.sound}}</mat-hint>-->
                  <!--</mat-form-field>-->
                <!--</div>-->
              <!--</td>-->
              <!--<td class="tg-0lax">-->
                <!--<div class="col-11">-->
                  <!--<mat-form-field>-->
                    <!--<mat-select placeholder="Grade"  required>-->
                      <!--<mat-option>&#45;&#45;</mat-option>-->
                      <!--<mat-option *ngFor="let grade of grade" [value]="grade">-->
                        <!--{{grade.grade}}-->
                      <!--</mat-option>-->
                    <!--</mat-select>-->
                    <!--<mat-error *ngIf="gradeControl.hasError('required')">Please choose a grade</mat-error>-->
                    <!--<mat-hint>{{gradeControl.value?.sound}}</mat-hint>-->
                  <!--</mat-form-field>-->
                <!--</div>-->
              <!--</td>-->
              <!--<td class="tg-0lax"></td>-->
            <!--</tr>-->
            <!--<tr>-->
              <!--<td class="tg-0lax">-->
                <!--<div class="col-11">-->
                  <!--<mat-form-field>-->
                    <!--<mat-select placeholder="Subject"  required>-->
                      <!--<mat-option>&#45;&#45;</mat-option>-->
                      <!--<mat-option *ngFor="let subject of subject" [value]="subject">-->
                        <!--{{subject.name}}-->
                      <!--</mat-option>-->
                    <!--</mat-select>-->
                    <!--<mat-error *ngIf="subjectControl.hasError('required')">Please choose a subject</mat-error>-->
                    <!--<mat-hint>{{subjectControl.value?.sound}}</mat-hint>-->
                  <!--</mat-form-field>-->
                <!--</div>-->
              <!--</td>-->
              <!--<td class="tg-0lax">-->
                <!--<div class="col-11">-->
                  <!--<mat-form-field>-->
                    <!--<mat-select placeholder="Grade"  required>-->
                      <!--<mat-option>&#45;&#45;</mat-option>-->
                      <!--<mat-option *ngFor="let grade of grade" [value]="grade">-->
                        <!--{{grade.grade}}-->
                      <!--</mat-option>-->
                    <!--</mat-select>-->
                    <!--<mat-error *ngIf="gradeControl.hasError('required')">Please choose a grade</mat-error>-->
                    <!--<mat-hint>{{gradeControl.value?.sound}}</mat-hint>-->
                  <!--</mat-form-field>-->
                <!--</div>-->
              <!--</td>-->
              <!--<td class="tg-0lax"></td>-->
            <!--</tr>-->
            <!--<tr>-->
              <!--<td class="tg-0lax">-->
                <!--<div class="col-11">-->
                  <!--<mat-form-field>-->
                    <!--<mat-select placeholder="Subject"  required>-->
                      <!--<mat-option>&#45;&#45;</mat-option>-->
                      <!--<mat-option *ngFor="let subject of subject" [value]="subject">-->
                        <!--{{subject.name}}-->
                      <!--</mat-option>-->
                    <!--</mat-select>-->
                    <!--<mat-error *ngIf="subjectControl.hasError('required')">Please choose a subject</mat-error>-->
                    <!--<mat-hint>{{subjectControl.value?.sound}}</mat-hint>-->
                  <!--</mat-form-field>-->
                <!--</div>-->
              <!--</td>-->
              <!--<td class="tg-0lax">      <div class="col-11">-->
                <!--<mat-form-field>-->
                  <!--<mat-select placeholder="Grade"  required>-->
                    <!--<mat-option>&#45;&#45;</mat-option>-->
                    <!--<mat-option *ngFor="let grade of grade" [value]="grade">-->
                      <!--{{grade.grade}}-->
                    <!--</mat-option>-->
                  <!--</mat-select>-->
                  <!--<mat-error *ngIf="gradeControl.hasError('required')">Please choose a grade</mat-error>-->
                  <!--<mat-hint>{{gradeControl.value?.sound}}</mat-hint>-->
                <!--</mat-form-field>-->
              <!--</div></td>-->
              <!--<td class="tg-0lax"></td>-->
            <!--</tr>-->
          <!--</table>-->
        <!--</div>-->
      <!--</mat-card>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->


<div class="absolute-center full-width">
  <div class="row justify-center">
    <div class="col-5 col-md-6 col-lg-4">
      <mat-card>
        <div>

        </div>
      </mat-card>
    </div>
  </div>
</div>

<p>
  enter-exam-records works!
</p>
