<mat-card>
  <mat-card-title>Add Subject</mat-card-title>
  <mat-card-content>
    <div class="row justify-center">
      <div class="col-11">
        <mat-form-field class="full-width">
          <input
            type="text"
            placeholder="First Name"
            matInput
          >
        </mat-form-field>
      </div>
      <div class="col-11">
        <mat-form-field class="full-width">
          <input
            type="text"
            placeholder="Last Name"
            matInput
          >
        </mat-form-field>
      </div>

      <mat-card-actions>
        <div class="flex justify-end">
          <div class="col-auto">
            <button color="primary" mat-raised-button>
              <mat-icon>check</mat-icon>
              Register
            </button>
          </div>
        </div>
      </mat-card-actions>
    </div>
  </mat-card-content>
</mat-card>

