<div class="q-pa-md row justify-center">
  <div class="col-10">
  <mat-card>
    <mat-card-title>
      Staff records
    </mat-card-title>
    <mat-card-content>
      <div>

        <table mat-table [dataSource]="dataSource">

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name</th>
            <td mat-cell *matCellDef="let element"> {{element.name}}</td>
          </ng-container>

          <!-- Email Column -->
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email</th>
            <td mat-cell *matCellDef="let element"> {{element.email}}</td>
          </ng-container>

          <!-- Gender Column -->
          <ng-container matColumnDef="gender">
            <th mat-header-cell *matHeaderCellDef>  Gender</th>
            <td mat-cell *matCellDef="let element"> {{element.gender.name}}</td>
          </ng-container>

          <!-- DOB Column -->
          <ng-container matColumnDef="dob">
            <th mat-header-cell *matHeaderCellDef> Date of Birth</th>
            <td mat-cell *matCellDef="let element"> {{element.dob}}</td>
          </ng-container>

          <!-- Phone number Column -->
          <ng-container matColumnDef="phoneNumber">
            <th mat-header-cell *matHeaderCellDef> Phone Number</th>
            <td mat-cell *matCellDef="let element"> {{element.phone}}</td>
          </ng-container>

          <!-- Date of Employment Column -->
          <ng-container matColumnDef="dateEmployed">
            <th mat-header-cell *matHeaderCellDef> Date of Employment</th>
            <td mat-cell *matCellDef="let element"> {{element.dateEmployed}} </td>
          </ng-container>


          <ng-container matColumnDef="options">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <button class="bg-negative" mat-button >
                Hello Man
              </button>
            </td>
          </ng-container>

          <!-- Date of Employment Column -->
          <ng-container matColumnDef="settings">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">{{element.settings}}
              <button style="width: 0.2rem !important;" class="inline-block bg-negative" mat-button (click)="removeStaff(element)">
                <mat-icon class="text-white">delete_forever</mat-icon>
              </button>
              <!-- <button class="bg-negative" mat-button (click)="removeStaff(element)">
                <mat-icon class="text-white">delete_forever</mat-icon>
              </button> -->
              <!-- <span [matMenuTriggerFor]="menu" class="cursor-pointer">
                <mat-icon>settings</mat-icon>
              </span> -->

            <mat-menu #menu="matMenu" *ngIf="sessionService.hasRole('ROOT')">
              <button mat-menu-item (click)="removeStaff(element)">delete Staff</button>
            </mat-menu>
          </td>
        </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      <div>
        <mat-card-actions>
          <button mat-button mat-raised-button mat-flat-button routerLink="register">Register Staff</button>

          <button class="q-ml-sm" (click)="sendMails()" mat-flat-button style="float: right">
            <mat-icon> notifications </mat-icon> Send Salary Notification
          </button>
        </mat-card-actions>
      </div>

    </mat-card-content>

  </mat-card>


</div>
</div>
