<mat-toolbar color="primary" class="bg-purple-8">
  <span class="cursor-pointer" routerLink="/dashboard">  Dashboard  </span>
  <span class="example-spacer"></span>
  <span><p>{{ appName }}</p></span>
  <span [matMenuTriggerFor]="menu" class="cursor-pointer"> <mat-icon>settings</mat-icon></span>

  <mat-menu #menu="matMenu">
    <button mat-menu-item>{{ appEmail }}</button>

    <button
      mat-menu-item
      routerLink="new-administrator"
      *ngIf="sessionService.hasRole('ROOT')"
    >Add Administrator</button>
    <button mat-menu-item (click)="logout()">Logout</button>
  </mat-menu>
</mat-toolbar>
