    <div class="full-view">
      <div class="row">
      <!--<div class="col-12" *ngIf="currentUser">-->
        <!--<p>Welcome to your dashboard {{ currentUser.name}}</p>-->
      <!--</div>-->
    </div>
    <div class="row ">
      <div class="col-4">
      <mat-card class="example-card bg-blue-1 ">
        <img mat-card-image src="assets/img/classroom.jpg">
        <mat-card-title>
          Classes
        </mat-card-title>
        <mat-card-actions>
          <button mat-flat-button class="bg-primary" routerLink="classes">
            <mat-icon>donut_large</mat-icon>
            View
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-4 ">
      <mat-card class="example-card bg-blue-1 ">
        <img mat-card-image src="assets/img/students.jpg">
        <mat-card-title>
          Students
        </mat-card-title>
        <mat-card-actions>
          <button mat-button class="bg-primary text-white" routerLink="students">
            <mat-icon>donut_large</mat-icon>
            View
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-4">
      <mat-card class="example-card bg-blue-1 ">
        <img mat-card-image src="assets/img/Staff.jpg">
        <mat-card-title>
          Staff
        </mat-card-title>
        <mat-card-actions>
          <button mat-flat-button class="bg-primary text-white" routerLink="staff">
            <mat-icon>donut_large</mat-icon>
            View
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
    </div>


