<div class="row full-view justify-center">
<!--<div class="col-lg-3 col-md-11 col-sm-11 example-card">-->
  <!--<app-students-registration></app-students-registration>-->
<!--</div>-->
  <!--<div>-->
    <!--<p>dkjccjc kcc </p>-->
  <!--</div>-->
  <div class="col-12" style="margin-top: 50px">
    <app-view-students></app-view-students>
  </div>

</div>
