<!--<p>-->
<!--staffs works!-->
<!--</p>-->
<!--<div class="row full-view">-->
  <!--<div class=" col-lg-11 col-md-11 col-sm-11 example-card">-->
    <!--<app-view-staff></app-view-staff>-->
  <!--</div>-->
  <!--<div class="col-lg-11 col-md-11 col-sm-12 example-card">-->

    <!--<app-staff-registration></app-staff-registration>-->
  <!--</div>-->


<!--</div>-->
<router-outlet></router-outlet>
