@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/*@import "./assets/css/base.css";*/
@import "./assets/css/quasar.mat.css";
@import "../node_modules/ng2-slim-loading-bar/style.css";

.example-form {
  min-width: 150px;
  max-width: 400px;
  width: 100%;
  padding: 10%;
}

.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}
.example-card {
  max-width: 400px;
  margin: 80px 20px;

}
.card-btm-gutter{
  margin-bottom: 20px ;
}
.card-gutter {
  padding: 20px 10px 20px 10px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.full-view{
  height: 100vh;
}
.full-side-nav{
  height: 100%;
}
.example-spacer {
  flex: 1 1 auto;
}
table {
  width: 100%;
}



