<div class="full-view">
  <div class="row card-gutter ">

    <mat-card class="col-6 ">
      <mat-card-title>Admin Registration</mat-card-title>
      <mat-card-header>
      </mat-card-header>
      <mat-card-content>
        <div class="row justify-center">
          <div class="col-11">
            <mat-form-field class="full-width">
              <input
                type="text"
                placeholder="Name"
                matInput
                [(ngModel)]="inputs.name"
                name="name"
              >
            </mat-form-field>
          </div>
          <div class="col-11">
            <mat-form-field class="full-width">
              <input
                type="email"
                placeholder="Email Address"
                matInput
                [(ngModel)]="inputs.email"
                name="address"
              >
            </mat-form-field>
          </div>
          <div class="col-11">
            <mat-form-field class="full-width">
              <mat-label>Roles</mat-label>
              <mat-select [(ngModel)]="inputs.role" name="Role" >
                <mat-option value="ROOT">Super Administrator</mat-option>
                <mat-option value="USER">Administrator</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <div class="flex justify-end">
          <div class="col-auto">
            <button color="primary" mat-raised-button (click)="register()">
              <mat-icon>check</mat-icon>
              Add
            </button>
          </div>
        </div>
      </mat-card-actions>
    </mat-card>

  </div>
</div>



