
<ng2-slim-loading-bar color="blue"></ng2-slim-loading-bar>
<app-dash-navbar [appEmail]="currentUser && currentUser.email"  style="position:sticky"
                 [appName]="currentUser && currentUser.name"
                 ></app-dash-navbar>

<mat-sidenav-container class="full-view">
  <mat-sidenav
    class="bg-grey-3"
    #drawer
    fixedInViewport="false"
    [fixedTopGap]="'72'"
    [attr.role]="'navigation'"
    [mode]="'side'"
    [opened]="!(isHandset$ | async)">
    <div *ngIf="currentUser">
      <mat-nav-list style="padding-top: 0">
        <div class="col-3 bg-primary ">
          <a class="text-white"
            [class.bg-pink-9]="school.id == (sessionService.getActiveSchool() && sessionService.getActiveSchool().id)"
            (click)="setActive(school)"
            mat-list-item
            *ngFor="let school of currentUser.schools">
            <mat-icon>business</mat-icon>
            <span >&nbsp; &nbsp; {{ school.name | titlecase }} {{school.address}}</span>
          </a>
          <!-- <a mat-list-item routerLink="staff">
            <mat-icon>business</mat-icon></a> -->

        </div>
        <div class="col-8 " id="list">
          <a mat-list-item routerLink="staff"><mat-icon> assignment_ind</mat-icon> &nbsp; &nbsp;Staff</a>
          <a mat-list-item routerLink="students"><mat-icon>supervisor_account</mat-icon> &nbsp; &nbsp; Students</a>
          <a mat-list-item routerLink="classes"><mat-icon>class</mat-icon> &nbsp; &nbsp; Class</a>
        </div>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>


    <router-outlet></router-outlet>

  </mat-sidenav-content>

</mat-sidenav-container>


