<mat-grid-list cols="2" rowHeight="1:0.88">
  <div>
    <mat-grid-tile  style="background-color: lightgrey">
      <img src="assets/img/school.jpg">
    </mat-grid-tile>
  </div>
  <mat-grid-tile>
    <form class="example-form">
      <h2> Register </h2>
      <mat-form-field class="full-width">
        <input
          type="text"
          placeholder="Name"
          [(ngModel)]="inputs.name"
          name="name"
          matInput
        >
      </mat-form-field>
      <mat-form-field class="full-width">
        <input
          type="email"
          placeholder="Email"
          [(ngModel)]="inputs.email"
          name="Email"
          matInput
        >
      </mat-form-field>

      <mat-form-field class="full-width">
        <input
          type="password"
          placeholder="Password"
          [(ngModel)]="inputs.password"
          matInput
          name="password"
        >
      </mat-form-field>
      <button mat-flat-button (click)="register()">Click me!</button>
    </form>
  </mat-grid-tile>
</mat-grid-list>
