<h1 mat-dialog-title>Copy Administrator's Password</h1>
<div mat-dialog-content>
  <button mat-button color="primary" (click)="copy()" mat-raised-button cdkFocusInitial>
    <mat-icon>file_copy</mat-icon>
    Copy
  </button>
</div>
