<div class="row full-view">
  <div class="col-7 example-card">
    <app-view-classes></app-view-classes>

  </div>
  <div class="col-4 example-card">
      <app-add-classes></app-add-classes>

  </div>
</div>

