<div>
  <mat-toolbar color="primary" class="bg-red">
    <mat-toolbar-row>
      <span routerLink="">Byteworks International Academy</span>
      <span class="fill-remaining-space"></span>
      <button mat-button routerLink="/">
        <mat-icon>dashboard</mat-icon>
        Login
      </button>
      <button mat-button  routerLink="/register" style="margin-left: 0.5rem" class="bg-blue-5 text-white">
        <mat-icon>person_add</mat-icon>
        Register
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <router-outlet></router-outlet>
</div>
